.contentBlock {
    padding: 20px;
    box-shadow: 0px 3px 8px rgb(74, 231, 158);
    border-radius: 5px;
    margin: 10px;
    width: 80%;
    background: #fff;
}
.photo {
    width: 30px;
    height: 30px;
}
.selectedPage {
    font-weight: bold;
    padding-bottom: 30px;
    margin-right: 3px;
    margin-left: 3px;
    font-size: 22px;
    color: #00a38d;
}
.selectedPage:hover {
    cursor: pointer;
}
.spanBlock {
    margin-bottom: 30px;
    width: 350px;
}
.hoverPage:hover {
    cursor: pointer;
}