.contentBlock {
    padding: 20px;
    box-shadow: 0px 3px 8px rgb(74, 231, 158);
    border-radius: 5px;
    margin: 10px;
    width: 80%;
    background: #fff;
}
.photo {
    width: 30px;
    height: 30px;
}
.selectedPage {
    font-weight: bold;
    padding-bottom: 30px;
    margin-right: 3px;
    margin-left: 3px;
    font-size: 15px;
    color: #00a38d;
}
.selectedPage:hover {
    cursor: pointer;
}
.spanBlock {
    margin-bottom: 30px;
}
.hoverPage:hover {
    cursor: pointer;
}
.hoverPage {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 12px;
    display: flex;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.load {
    width: 50px;
    height: 50px;
}