.contentImg__card_img {
    display: flex;
    align-items: center;
}
.contentImg__card_img img {
  width: 100px;
  height: 100px;
  margin: 20px;
}
.contentImg__card_info p {
  margin: 0;
}
.contentImg__card_info_name {
  /* margin-bottom: 15px !important; */
  font-weight: 700;
  /* padding-top: 20px; */
}
.spanClass {
  font-weight: 400;
  font-size: 22px;
  color: green;
}
.photoProfile {
  border-radius: 5px;
}
.bntStatusSave {
  margin-left: 555px;
}
.statusBlock{
  border-bottom: 1px solid #0b1a3b;
  width: 220px;
  font-size: 14px;
  color: #007206;
}
.inputStatus {
  width: 220px;
}