  .myPost textarea {
    height: 50px;
    width: 100%;
    /* border: none; */
    background-color: rgb(235, 235, 235);
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgb(74, 231, 158);
    color:rgb(95, 95, 95);
  }
  
  .myPost {
    display: flex;
    flex-direction: column;
  }
  button {
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .btnClass {
    display: flex;
    justify-content: flex-end;
  }
  textarea {
    outline:none;
    /* border: 1px solid red; */
 } 
  .myPost button {
    border: none;
    width: 120px;
    height: 40px;
    background-color: rgb(110, 247, 144);
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
  }
  .myPost button:hover {
    background-color:rgb(0, 102, 22);
    color: white;
  }
  .myPost__old img{
  display: block;
  margin-right: 20px;
  }