.contentBlock {
  padding: 20px;
  box-shadow: 0px 3px 8px rgb(74, 231, 158);
  border-radius: 5px;
  margin: 10px;
  width: 80%;
  background: #fff;
}

.dflex {
  display: flex;
}

.contentBlock h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  margin-bottom: 30px;
}

.dialogs {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 10px;

}

/* .contentBlock__dialogs {
  border-right: 1px solid rgba(212, 212, 212, 0.76);
} */

.messages {
  display: block;
  width: 80%;
  margin: 10px;
  border-radius: 5px;
  /* border: 1px solid rgb(183, 255, 251); */

}

.item {
  /* margin-bottom: 30px;
  text-decoration: none;
  color: rgb(0, 0, 43);
  display: block;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none; */

  text-decoration: none;
  color: rgb(0, 0, 43);
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;

}

.item:hover {
  color: rgb(0, 212, 113);
  cursor: pointer;
  padding-left: 15px;
  transition: all 2s ease-out .5s;
  font-weight: 700;
  /* border-bottom: 1px dashed green; */
}

.messagesBlock {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 0px 3px 8px rgba(125, 248, 191, 0.699);
  border-radius: 5px;
  cursor: pointer;
}

.messagesBlock:hover {
  box-shadow: 0px 3px 8px rgba(48, 86, 255, 0.856);
  transition: all 0.5s ease-out 0.5s;
}

.messagesBlock img {
  margin: 15px;
  width: 40px;
  height: 40px;
}

.active {
  color: rgb(2, 170, 16);
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
}

.contentBlock__textarea_button textarea {
  margin-right: 20px;
  border: none;
  outline: none;
  background-color: rgba(245, 244, 244, 0.411);
  border-radius: 5px;
  padding: 5px;
  height: 35px;
  width: 70%;
  box-shadow: 0px 3px 8px rgba(122, 122, 122, 0.7);
}

.contentBlock__textarea_button button {
  border: none;
  width: 30%;
  height: 45px;
  margin: 0;
  border-radius: 5px;
  background-color: rgb(27, 253, 178);
  font-weight: 700;
}

.contentBlock__textarea_button button:hover {
  cursor: pointer;
  background-color: rgb(0, 73, 49);
  color: rgb(215, 255, 240);
  transition-duration: 1s;
  border-radius: 1px 50px 50px 1px;
  font-size: 18px;
  /* clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  transition: 1s clip-path; */
}

.contentBlock__textarea_button button span:hover {
  transition-duration: 1s;
  padding-left: 20px;
}