ul li {
  list-style-type: none;
}

body {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Roboto Condensed', sans-serif;
  background-color:rgb(226, 225, 225);
}

.dflex {
  display: flex;
}

.container {
  width: 1170px;
  margin: 0 auto;
}
